/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/*  IMPORTED FONTS  */

@font-face {
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url('../fonts/sans-serif/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url('../fonts/sans-serif/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*  TYPOGRAPHY  */

p {
    font-family: roboto, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: lato, Helvetica, sans-serif;
    letter-spacing: 0.0325rem;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    transform: rotate(-5deg);
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h2 {
    margin-top: 3.5rem;
}

.highlight {
    display: inline-block;
    font-family: ultra, Georgia, serif;
    border: 1px solid #642e3f;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #EEEEDD;
    background-color: #83344D;
    box-shadow: 5px 5px 4px -1px #888;
    text-shadow: 2px 2px 5px black;
}

button {
    font-family: ultra;
    font-size: 1.75rem;
    text-align: center;
    background-color: #27476E;
    color: #EEEEDD;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; 
    box-shadow: 5px 5px 4px -1px #888;
}




/*  GENERAL SETUP AND DEFAULTS  */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/*  LAYOUT  */

header {
    padding: 0.5rem 0rem 1rem 0rem;
}

nav {
    margin-top: 4rem;
}

/* grid-gap is obsolete */

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid black;
    padding-left: 2rem;
}

aside p {
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.expand {
    font-size: 0.4rem;
    white-space: nowrap;
    
}

.subsection {
    display: flex;
}

footer {
    margin-top: 4rem;
}

.copyright {
    float: left;
}

.attribution {
    float: right;
    width: 60%;
}

/*  IMAGES AND FIGURES  */

img {
    width: 100%;
}

figure {
    margin: 0px;
    float: left;
}

.article-image {
    width: 95%;
    float: left;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}

.subsection {
    margin: 2rem 0rem;
    margin-right: 1rem;
}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #EEEEDD;
}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
}

/*  LINKS AND NAVIGATION  */ 

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-family: lato, Arial, sans-serif;
    color: #27476E;
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.slash {
    display: inline-block;
    text-decoration: line-through;
    text-transform: uppercase;
    color: black !important;
    transform: rotate(3deg);
}

nav a:focus, nav a:hover {
    color: #fff;
    background-color: #33658A;
}

nav a:active {
    color: #fff;
    background-color: #000;
}

a:link, a:visited {
    color: #33658A;
}

a:focus, a:hover {
    text-decoration: none;
}